// COLORS
$color-primary: #1D0F28;
$color-primary-light: #5A5062;
$color-primary-dark: #160B1E;

$color-muddy: #BE9C6C;
$color-pink: #BD7897;

$color-secondary: #BE9C6C;
$color-secondary-light: #CFB794;
$color-secondary-dark: #9C8059;

$color-tertiary: #BD7897;
$color-tertiary-light: #CF9CB3;
$color-tertiary-dark: #8A586E;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$tabs-base-color: #8e44ad;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;