.loading {
    height: 0;
    width: 0;
    padding: 1.5rem;
    border: .6rem solid $color-tertiary-dark;
    border-right-color: $color-tertiary;
    border-radius: 2.2rem;
    animation: rotate 1s infinite linear;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
  }
  